.container {
  display: flex;
  min-height: 100vh;
  height: 100vh;
  padding: 4px;
  padding-bottom: 4rem;
  flex-direction: column;
  box-sizing: border-box;
  background-color: black;
}

.dropdown {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.select {
  padding: 8px 16px;
  font-size: 16px;
}